src/main/mule/demo-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cdf2b75e-ff7d-46c4-8bad-9f7775d0946a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-appFlow" doc:id="e5e35137-b0f8-411a-8d73-553861ff221a" >
		<http:listener doc:name="Listener" doc:id="f27bb7cb-e439-4625-9f2a-65a79db31d63" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="5b502c63-8e96-4f8d-98da-74ec98c2f53e" />
		<ee:transform doc:name="Transform Message" doc:id="b0255270-3e8a-4664-9ee9-19a305039d1b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hey There!!!!" ++ payload.Name]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
